<% provide(:title, "Login") %>
<div>
  <h1>Login</h1>
</div>
<div>
  <%= render 'layouts/notification' %>
  <%= form_tag 'admin_sessions/create', action: 'post', class: 'center' do %>
    <p>
    <%= label_tag :login, 'Username' %>
    <%= text_field_tag :login %>
    </p>

    <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    </p>

    <%= submit_tag 'Login' %>
  <% end %>
</div>

